@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
 font-family: 'Poppins','sans-serif';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgb(238, 255, 255);
    width: 100%;
    height: 35px;
    padding-top: 10px;
    margin-bottom: 10px;
    
    
}

.nav-bar ul{
    display: flex;
    justify-content: end;
    gap: 1.5rem;
    margin-right: 200px;
    
    

    
}

a,li{
    text-decoration: none;
    list-style: none;
    font-size: 1.1rem;
}
img{
    width: 100%;
    height: 60%;
}

.box{
    position:absolute;
    background-color: rgb(238, 77, 8);
    width: 3%;
    height: 7%;
    top: 18px;
    left:15%;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}
.main{
    position: relative;
}

.content{
    position: absolute;
    top: 50%;
    left: 12%;
    color: white;
    
}
.job{
    
    position: absolute;
    left: 25%;;
    border: 2px solid rgb(133, 133, 133);
    width: 163px;
    padding: 13px;
    font-size: 1rem;
    font-weight: 400;
    color: gray;
    margin-top: 8px;
}
#name{
    color: rgb(180, 195, 209);
}
